services:
  - type: web
    name: trmnl-ultimate-plusplus
    runtime: docker
    plan: free
    region: oregon
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/status
